 * {
     box-sizing: border-box;
scroll-behavior: smooth;

 }

 :root {
     --mean-font {
         font-family: 'Montserrat', sans-serif;
         font-family: 'Poppins', sans-serif;
     }

     --mean-color {
         color: #FFC808;
     }

     scroll-padding-top: 62px;
     scroll-behavior: smooth;

     --mean-bg-color {
         background-color: #FFC811;
     }

     .mean-color {
         color: #FFC811;
     }

     .mean-bg-color {
         background-color: #FFC811;
     }

     .bt-hover:hover {
         color: white;
         background-color: black;
         transition: all, 0.38s;
     }

     ::selection {
         background-color: #FFC811;
         color: white;
     }

     ::-webkit-scrollbar {
         background-color: black;
         width: 0.5rem;
     }

     ::-webkit-scrollbar-thumb {
         background-color: #FFC811;
         border-radius: 1rem;
     }
 }

 .loadingDiv {
     position: fixed;
     top: 0%;
     bottom: 0%;
     left: 0%;
     right: 0%;
     background-color: #F3F3F3;
     z-index: 9999999999999999999;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .loader {
     color: #FFC808;
     font-size: 10px;
     width: 1em;
     height: 1em;
     border-radius: 50%;
     position: relative;
     text-indent: -9999em;
     animation: mulShdSpin 1.3s infinite linear;
     transform: translateZ(0);
 }

 @keyframes mulShdSpin {

     0%,
     100% {
         box-shadow: 0 -3em 0 0.2em,
             2em -2em 0 0em, 3em 0 0 -1em,
             2em 2em 0 -1em, 0 3em 0 -1em,
             -2em 2em 0 -1em, -3em 0 0 -1em,
             -2em -2em 0 0;
     }

     12.5% {
         box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
             3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
             -2em 2em 0 -1em, -3em 0 0 -1em,
             -2em -2em 0 -1em;
     }

     25% {
         box-shadow: 0 -3em 0 -0.5em,
             2em -2em 0 0, 3em 0 0 0.2em,
             2em 2em 0 0, 0 3em 0 -1em,
             -2em 2em 0 -1em, -3em 0 0 -1em,
             -2em -2em 0 -1em;
     }

     37.5% {
         box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
             3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
             -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
     }

     50% {
         box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
             3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
             -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
     }

     62.5% {
         box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
             3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
             -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
     }

     75% {
         box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
             3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
             -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
     }

     87.5% {
         box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
             3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
             -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
     }
 }

 /* ------------------------------nav-bar--------------------------------------- */

 .navbar {
     position: sticky;
     top: 0;
     z-index: 9999999999999999;
 }

 .nav-fixed {
     position: fixed;
     top: 100vh;
 }


 .btn-nav:hover {
     background-color: #444242;
     color: #FFC808;
     border: none;
 }

 .nav-tabs .nav-link {
     margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
     border: none;
     border-top-left-radius: none;
     border-top-right-radius: none;
 }

 .nav-tabs {
     --bs-nav-tabs-border-width: none;
 }

 .navbar-nav li a {
     color: white;

 }

 .navbar-nav li.active a {
     color: #FFC808;

 }

 nav a:hover,
 .fa-basket-shopping:hover {
     color: #FFC808;
 }

 .nav-link:focus,
 .nav-link:hover {
     color: #FFC808;

 }
 .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #FFC811;
}


 /* ------------------------------start------------------------------------ */

 .start {
     display: flex;
     justify-content: space-between;
 }

 .start i {
     color: #FFC808;
 }

 .media-body {
     font-size: smaller;
 }

 .media-body a {
     text-decoration: none;
     color: black;
 }

 /* ---------------------slider-------------------------- */

 .rslides {
     position: relative;
     list-style: none;
     overflow: hidden;
     width: 100%;
     padding: 0;
     margin: 0;
 }

 .rslides li {
     -webkit-backface-visibility: hidden;
     position: absolute;
     display: none;
     width: 100%;
     left: 0;
     top: 0;
 }

 .rslides li:first-child {
     position: relative;
     display: block;
     float: left;
 }

 .rslides img {
     display: block;
     height: auto;
     float: left;
     width: 100%;
     border: 0;
 }

 .carousel-control-next-icon,
 .carousel-control-prev-icon {
     background-color: #A6A6A6;
     border: 1px solid white;
     background-size: 20px;
     width: 2.5rem;
     height: 2.5rem;
 }

 .carousel-control-next-icon:hover,
 .carousel-control-prev-icon:hover {
     background-color: black;
 }


 /* ----------------------counter------------------------- */
 h4 {
     font-size: 16px;
 }

 .icon-user {
     font-size: 20px;
     line-height: 41px;
     border: 1px solid #FFC811;
     padding: 13px 25px;
     color: #FFC811;
 }

 /* --------------------header------------------ */

 .home-carousel1 {
     background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0% 100%), url(../imges/bg-2.jpg);
     background-position: 100% 100%;
background-size: cover;
     height: 100vh;
 }
.move{
    font-size: 55px;
  
 }

 .bt-hover {
    color:black;
    background-color:  #FFC808;
    transition: all 1s;
    border: none;
}

.bt-hover:hover {
    color: #FFC808;
    background-color:transparent;
    border: 1px solid #FFC808;
}

.bt-hover1 {
    color: white;
    border: 1 solid white;
    background-color: transparent;
    transition: all 1s;

}

.bt-hover1:hover {
    color: black;
    background-color:  #FFC808;
    transition: all 1s;
    border: none;
}


 .home-carousel2 {
     background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0% 100%), url(../imges/bg-1.jpg);
     height: 100vh;

 }

 .home-carousel3 {
     background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0% 100%), url(../imges/slide-4.jpg);
     height: 100vh;

 }

 .active {
    .slide-title {
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      animation-name: fadeInRight;
      animation-delay: 0.3s;
      width: 40%;
    }
}
 .active {
    .slide-title1 {
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
      animation-name: fadeInRight;
      animation-delay: 0.9s;
      width: 40%;
    }
}
 .active {
    .slide-title2 {
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: backwards;
      animation-fill-mode: backwards;
      animation-name: fadeIn;
      animation-delay: 2s;
      width: 40%;
    }
}

 .i-after1 i {
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     margin: auto;
     background-color: black;
     border-radius: 50%;
 }

 /* -----------------------About our factory-------------------------- */

 .line::before {
     content: "";
     position: absolute;
     width: 10%;
     height: 2px;
     background-color: #FFC808;
     top: 27%;
 }

 p i {
     font-size: 15px;
 }

 p i::after {
     content: "   ";
     position: absolute;
     width: 25px;
     height: 25px;
     border: 1.8px solid rgb(63, 61, 61);
     border-radius: 50%;
     left: 2px;
     top: -2px;
 }


 /* ---------------------------------section3----------------------------------- */
 .bg-section3 {
     background-image: linear-gradient(rgba(0, 0, 0, .7) 0 100%), url(../imges/bg-1.jpg);
 }

 .icon i {
     color: #FFC808;
     font-size: 50px;
 }

 .main-content p {
     width: 100%;
 }

 .main-content a {
     text-decoration: none;
     color: #FFC808;
     font-size: 18px;
 }

 .main-content a:hover {
     color: white;
 }

 /* ---------------------------------------Our Services--------------------------------------- */
 .bg-serv1 {
     background-image: url(../imges/agriculture-bg-1200x850.jpg);
     border: 1px solid #FFC808;
     background-size: cover;
     background-position: center center;
     height: 60vh;
     padding: 150px 40px;
     color: white;
 }

 .layer {
     position: absolute;
     left: 0%;
     right: 100%;
     bottom: 0%;
     top: 0%;
     z-index: 3;
     background-color: white;
     color: black;
     opacity: 0;
     padding-top: 40%;
     border: 1px solid #FFC808;

 }

 .hover:hover .layer {
     right: 0%;
     transition: all 0.35s;
     opacity: 1;
 }

 .bg-serv2 {
     background-image: url(../imges/chemicall-bg-1200x850.jpg);
     border: 1px solid #FFC808;
     background-size: cover;
     background-position: center center;
     height: 60vh;
     padding: 150px 40px;
     color: white;
 }

 .bg-serv3 {
     background-image: url(../imges/material-bg-1200x850.jpg);
     border: 1px solid #FFC808;
     background-size: cover;
     background-position: center center;
     height: 60vh;
     padding: 150px 40px;
     color: white;
 }

 .bg-serv4 {
     background-image: url(../imges/mechanical-bg-1200x850.jpg);
     border: 1px solid #FFC808;
     background-size: cover;
     background-position: center center;
     height: 60vh;
     padding: 150px 40px;
     color: white;

 }

 .bg-serv5 {
     background-image: url(../imges/oil-bg-1200x850.jpg);
     border: 1px solid #FFC808;
     background-size: cover;
     background-position: center center;
     height: 60vh;
     padding: 150px 40px;
     color: white;

 }

 .bg-serv6 {
     background-image: url(../imges/power-bg-1200x850.jpg);
     border: 1px solid #FFC808;
     background-size: cover;
     background-position: center center;
     height: 60vh;
     padding: 150px 40px;
     color: white;

 }

 .p-line::before {
     content: "";
     position: absolute;
     width: 48px;
     height: 2px;
     background-color: #FFC808;
     bottom: -60%;
     left: 48%;
     z-index: 22;
 }

 /* -------------------------------------latestpro------------------------------------------------------- */
 .bg-projects {
     background-color: #222628;
 }


 .LATEST-PROJECT.owl-nav button.owl-next,
 .owl-carousel .owl-nav button.owl-prev,
 .owl-carousel button.owl-dot {
     background-color: #FFC811;
     position: relative;
     bottom: 285px;
     right: 0px;
     color: black;
     border: none;
     font-size: 25px !important;
     padding: 0px 15px !important;
 }
 .LATEST-PROJECT.owl-nav button.owl-next,
 .owl-carousel .owl-nav button.owl-next,
 .owl-carousel button.owl-dot {
     background-color: #FFC811;
     position: relative;
     bottom: 285px;
     right: 0px;
     color: black;
     border: none;
     font-size: 25px !important;
     padding: 0px 15px !important;
 }

 
 .img-after::after {
     content: "";
     font-weight: bold;
     position: absolute;
     top: 5%;
     bottom: 5%;
     left: 5%;
     right: 5%;
     background-color: rgba(0, 0, 0, 0.6);
     z-index: 2;
     opacity: 0;
     transition: all 0.35s;
     transform: scale3d(1.3, 1.3, 1);
     overflow: hidden;

 }

 .img-hover:hover .img-after::after {
     opacity: 1;
     top: 15%;
     bottom: 25%;
     left: 15%;
     right: 15%;
 }

 .img-after .icon {
     position: absolute;
     bottom: 35%;
     left: 42%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background: #333;
     transition: all 1s;
     z-index: 4;
     opacity: 0;
 }

 .img-hover:hover .img-after .icon {
     opacity: 1;
 }

 .img-after .icon:hover {
     color: #FFC808;
 }

 .img-after .icon1 {
     position: absolute;
     bottom: 35%;
     left: 52%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background: #333;
     margin: auto;
     transition: all 1s;
     z-index: 4;
     opacity: 0;
 }

 .img-after .icon1:hover {
     color: #FFC808;
 }

 .img-hover:hover .img-after .icon1 {
     opacity: 1;
 }

 .content-hover {
     position: absolute;
     top: 35%;
     left: 38%;
     z-index: 4;
     opacity: 0;
     transition: all 1s;
 }

 .img-hover:hover .content-hover {
     opacity: 1;
 }

 .color-hover:hover {
     color: #FFC808;
 }



 .img-height {
     height: 225px;
 }

 /* ---------------------------OurTeam---------------------------- */
 .client-name {
     color: #333;
     font-size: 20px;
     font-weight: 500;
     text-decoration: none;
 }

 .team-designation p {
     background: #FFC811;
 }

 .img-after1 {
     content: "";
     position: absolute;
     top: 2%;
     bottom: 2%;
     left: 2%;
     right: 2%;
     background-color: rgba(0, 0, 0, 0.6);
     z-index: 2;
     opacity: 0;
     transition: all 0.35s;
 }

 .img-hover1:hover .img-after1 {
     opacity: 1;
     transform: rotateY(180deg);
     transition: all 0.55s;
 }

 .img-hover2:hover img {
     transition: all 1s;
 }

 .icons {
     position: relative;
     top: 50%;
     transform: rotateY(180deg);
 }

 .icons .one {
     position: absolute;
     left: 20%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background-color: #0866FF;
     margin: auto;
     border-radius: 20%;
     transition: all 1s;
     z-index: 4;
 }

 .icons .one:hover {
     color: #0866FF;
     background-color: white;
 }

 .icons .tow {
     position: absolute;
     left: 35%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background-color: #03A9F7;
     margin: auto;
     border-radius: 20%;
     transition: all 1s;
     z-index: 4;
 }

 .icons .tow:hover {
     color: #03A9F7;
     background-color: white;
 }

 .icons .three {
     position: absolute;
     left: 50%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background-color: #B60000;
     margin: auto;
     border-radius: 20%;
     transition: all 1s;
     z-index: 4;
 }

 .icons .three:hover {
     color: #B60000;
     background-color: white;
 }

 .icons .four {
     position: absolute;
     left: 65%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background-color: #0A66C2;
     margin: auto;
     border-radius: 20%;
     transition: all 1s;
     z-index: 4;
 }

 .icons .four:hover {
     color: #0A66C2;
     background-color: white;
 }

 .img-after1 .icons i:hover i {
     color: black;
     background-color: white;
     border: 1 solid black;
 }

 .img-hover:hover .img-after1 .icon1 {
     opacity: 1;
     transform: rotateY(360deg);
     transition: all 1s;
 }


 /* ----------------------------------CONTACTS------------------------------------------------------------- */


 .products-carousel {
     border: 1px #FFC808 dashed;
 }

 .hight {
     line-height: 45px;
 }

 .testimonial-thumb {
     width: 20%;
     height: 20%;
 }

 .testimonial-name p {
     background-color: #FFC808;
     width: 35%;

 }



 .cotact-line::before {
     content: "";
     position: absolute;
     width: 48px;
     height: 2px;
     background-color: #FFC808;
     z-index: 22;
     bottom: -60%;

 }

 .content .form-control {
     border-style: none;
     box-shadow: none;
 }

 /* -----------------------------------------latestNews-------------------------------------------------- */
 
 .latest-news .owl-nav button.owl-next,
 .latest-news .owl-nav button.owl-prev,
 .latest-news button.owl-dot {
     background-color: #FFC811;
     position: relative;
     bottom: 400px;
     right: 0px;
     color: black;
     border: none;
     font-size: 25px !important;
     padding: 0px 15px !important;
 }
 .latest-news button.owl-next,
 .latest-news .owl-nav button.owl-next,
 .latest-news button.owl-dot {
     background-color: #FFC811;
     position: relative;
     bottom: 400px;
     right: 0px;
     color: black;
     border: none;
     font-size: 25px !important;
     padding: 0px 15px !important;
 }
 
 
 .img-after-news::after {
     content: "";
     font-weight: bold;
     position: absolute;
     top: 9%;
     bottom: 0%;
     left: 0%;
     right: 0%;
     background-color: rgba(0, 0, 0, 0.6);
     z-index: 2;
     opacity: 0;
     transition: all 0.35s;
     overflow: hidden;
     width: 100%;
 }

 .card:hover .img-after-news::after {
     opacity: 1;
 }

 .item-news img {
     transform: scale(1.3);
     transition: all 0.35s;
 }

 .card:hover img {
     transform: scale(1);
     transition: all 0.35s;
 }

 .border-news::after {
     content: "";
     position: absolute;
     border-right: 2px #FFC811 solid;
     border-left: 2px #FFC811 solid;
     border-bottom: 2px #FFC811 solid;
     border-top: #FFC811 2px solid;
     z-index: 90;
     top: -15px;
     bottom: 0px;
     right: -5%;
     left: -5%;
     padding: 70px;
     margin: 28px;
     opacity: 0;
     transform: scale(1, 0);

 }

 .border-news::before {
     content: "";
     position: absolute;
     border-bottom: 2px #FFC811 solid;
     border-top: #FFC811 2px solid;
     z-index: 90;
     transform: scale(0, 1);

 }

 .card:hover .border-news::after {
     opacity: 1;
     transition: all 0.35s;
     transform: scale(1, 1);

 }

 .card:hover .border-news::before {
     opacity: 1;
     transition: all 0.35s;
     transform: scale(1, 1);

 }

 .post-title {
     text-decoration: none;
     color: #222628;
     font-size: 20px;
     font-weight: 500;
     line-height: 24px;
 }

 .post-category {
     color: #222628;
     text-decoration: none;
     line-height: 24px;

 }

 .post-title:hover,
 .post-category:hover  , .s-hover:hover {
     color: #FFC808;
     transition: all 0.35s;

 }

 .card-body {
     padding: 0%;

 }

 .card-body p {
     font-size: small;
     line-height: 24px;

 }

 .owl-theme .owl-nav {
     margin-top: 0px;
 }



 /* ----------------------------------Footer----------------------------------  */
 .contact-color {
     color: #c5c5c5;

 }

 a {
     text-decoration: none;
     color: #c5c5c5;

 }

 .footer-color {
     color: #c5c5c5;
     background: rgba(46, 46, 46, 1);
     line-height: 80px;
 }

 .content-footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     align-content: center;
 }

 .content-footer i {
     right: 0%;
     left: 95%;
     bottom: 0%;
     top: 92%;
     width: 40PX;
     height: 40PX;
     position: fixed;
     line-height: 40px;
     background-color: #FFC811;
     color: black;
     border-radius: 5px;
     z-index: 9999;
 }

 .content-footer i:hover {

     border-radius: 50%;
 } 
.to-up{
    z-index: 8888;
transition: 1s;}

 --------------------------------Contact-----------------------------
 .icon2 {
     color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 60px;
     height: 60px;
     background-color: #F4F4F4;
     margin: auto;
     border-radius: 50%;
     transition: all 1s;
     margin-bottom: 8px;
 }

 .content1:hover .icon2 {
     color: white;
     background-color: black;

 }
.i-hover:hover{
color: #FFC811;
margin-bottom: 40px;
transition:all 0.35s;

}
 .About-color1 {
     background-color: #F4F4F4 !important;
 }

 #Contact .form-control {
     border-style: none;
     box-shadow: none;
 }
 /* -----------------------------media----------------------------------------------- */

@media screen and (max-width: 480px) {
    
  }
  
  @media screen and (min-width: 481px) and (max-width: 1024px) {
  }
  
  @media screen and (min-width: 1025px) {
  }